<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>STEMify Quiz</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h2>Career Path Quiz</h2>

 <form method="POST">
  {% for q in questions %}
    <div class="question">
      <p><strong>Q{{ loop.index }}:</strong> {{ q.text }}</p>
      {% for opt in q.options %}
        <label>
          <input type="radio" name="q{{ q.id }}" value="{{ opt.category }}" required>
          {{ opt.text }}
        </label><br>
      {% endfor %}
    </div>
    <hr>
  {% endfor %}
  <button type="submit">Submit Quiz</button>
</form>

</body>
</html>

