<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Student Dashboard - STEMify</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Welcome, {{ username }}</h1>
  <h2>Student Dashboard</h2>

  <ul>
    <li><a href="{{ url_for('quiz') }}" class="button-link" >📝 Take Quiz</a></li>
    <li><a href="{{ url_for('book_session') }}" class="button-link" >📅 Book Advisor Session</a></li>
    <li><a href="{{ url_for('logout') }}" class="button-link" >🚪 Logout</a></li>
  </ul>
</body>
</html>

